.image-wrapper {
    text-align: center;

    .image-caption {
        color: #999;
        font-size: 12px;
        margin-top: 5px;
    }
}

.image-2016-03-20{
	display: inline-block;
	margin: 20px;
}
